@font-face {
    font-family: 'Archivo Black';
    src: url('/_fonts/ArchivoBlack-Regular.ttf') format('ttf');
    src: url('/_fonts/ArchivoSemiExpandedExtraLight-Regular.ttf') format('ttf');
    /* Agrega más formatos si es necesario para mayor compatibilidad */
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #EFEDDA;
}

header {
    position: relative; /* Agrega esta propiedad */
    background-image: url(ImagenP.svg);
    background-color: rgba(21, 74, 144, 0.828); /* Este es el color que quieres poner encima de la imagen */; /* This is the color that will be placed on top of the image */
    background-blend-mode: multiply;
    width: 100%;
    height:  60vh;
    display: flex;
    justify-content: center;
}

nav {
    /*position: absolute;*/
    background-color: transparent;
    display: flex;
    justify-content: space-around;
    text-align: center;
    z-index: 1;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 3px;
    border-radius: 0px;
    font-weight: bold;
    font-size: 1.2em;
    margin: 0 30px; /* Agrega esta propiedad */
    border: 2px solid #fff; /* Agrega esta propiedad */
}

nav a:hover {
    background-color: #F16430;
    color: #fff;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    border: 2px solid #F16430; /* Agrega esta propiedad */
}

.header-content {
    display: flex;
    flex-direction: column;
    align-items: center; /* Agrega esta propiedad */
    margin: 0 auto; /* Agrega esta propiedad */
}

.nav-bottom {
    display: flex;
    margin-top: -27%;
    font-family: 'Archivo Black';
}

.button-one {
    width: 162px;
    /*height: 5%;*/
    padding: 6px 25px;
}

.button-two {
    width: 286px;
    /*height: 5%;*/
    padding: 6px 25px;
}

.button-three {
    width: 249px;
    /*height: 5%;*/
    padding: 6px 25px;
}

#TITULO{
    color: #fff;
    margin: 17% -13% 30% 0;
    display: flex;
    width: 100%;
    font-family: 'Archivo Black';
    font-size: 35px;
    margin-right: 0%;
}

#logo{
    background-image: url(ALFAlogo.svg);
    z-index: 2;
    width: 26%;
    height: 17%;
    margin: 5% 103% 0 0;
}

.FIRST-container{
    display: flex;
    /*flex-direction: column;*/
    justify-content: center;
    /*align-items: center;*/
    width: 100%;
    height: 100%;
}

#imagen-container{
    display: flex;
    background-image: url(MujerCarro.svg);
    width: 50%;
    height: 500px;
}

#bloc{
    /*display: flex;*/
    background-color: #F16430;
    width: 50%;
    height: 500px;
    text-align: left;
}

.TitulosG{
    color: #fff;
    font-size: 128px;
    margin-left: 89px;
    font-family: 'Archivo Black';
}

#TextoS{
    width: 525px;
    margin-left: 103px;
    margin-top: -37px;
    color: #fff;
    height: 81px;
    font-size: 36px;
    font-family: 'Montserrat', sans-serif;
}

#myButton{
    margin-left: 90px;
    background-color: #284259;
    border-radius: 90px;
    width: 43%;
    height: 33px;
    border: 1px;
    color: #FFFFFF;
    font-size: 16px;
    font-family: 'Archivo Black';
    margin-top: 33px;
    padding: 0px 0px 0px 0px;
}

#BlueBloc{
    background-color: #284259;
    height: 319px;
    border: 1px solid #cccccc00;
    padding: 1px;
    overflow: auto;
}

#TituloG2{
    padding-top: 85px;
    color: #F16430;
    font-family: 'Archivo Black';
    font-size: 40px;
    margin-left: 450px
}

#TextoXS{
    margin-left: 270px;
    color: #FFFFFF;
    font-size: 16px;
    /* display: inline; */
    text-align: center;
    width: 899px;
    margin-top: 50px;
}

#BlueTxt{
    color: #284259;
    font-family: 'Archivo Black';
    margin-left: 604px;
    font-size: 34px;
    margin-top: 66px;
}

#NegroTxt{
    font-size: 16px;
    margin-left: 567px;
    margin-top: 20px;
}

#SECOND-container{
    display: flex;
    margin-left: 190px;
    margin-top: 53px;
}

.OrangBloc{
    background-color: #F16430;
    width: 303px;
    height: 388px;
    margin: 10px 10px 10px 41px;
    border-color: black;
    border-radius: 20px;
    border: 3px solid #284259;
}

main {
    padding: 20px;
}



footer {
    background-color: #F16430;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

#MiniAzul{
    color: #284259;
    font-size: 20px;
}

#CompilacionLogos{
    margin-top: 50px
}

#LG{
    margin-top: 20px;
}

#LinksPag{
    margin-top: 30px;
    align-items: center;
    display: flex;
    justify-content: center;
    font-family: 'Archivo Black';
}

#Links{
    margin-top: 30px;
    align-items: center;
    display: flex;
    justify-content: center;
    font-family: 'Archivo Black';
}

#Ref{
    display: flex;
    height: 40px;
    border-top: 2px solid #ffffff;
    padding: 17px 0px 0px 0px;
    margin-top: 30px;
    font-size: 15px;
}

#Derechos{
    margin-left: 690px;
}

#Desarrolladores{
    margin-left: 90px;
}


#QS{
    margin: 10px 106px 10px 106px;
}


